:root {
    --primary-color: #005f73;
    --secondary-color: #0a9396;
    --accent-color: #94d2bd;
    --text-primary: #e9d8a6;
    --text-secondary: #ee9b00;
  }

  .myMeets-body {
    width: 100%;
    height: 40vh;
    ; /* Adjusted background color */
}

.myMeets-body .myMeets-body-nav {
    background-color: var(--primary-color);
    backdrop-filter: blur(5px);
    display: flex;
    height: 10vh;
    align-items: flex-end;
    justify-content: left;
    margin: 3vh 2% 0 2%;
    border-radius: 2rem;
}

.myMeets-body .myMeets-body-nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.myMeets-body .myMeets-body-nav ul li {
    list-style-type: none;
    padding-bottom: 2px;
    color: var(--text-primary);
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

.myMeets-body-content {
    padding: 2% 5%;
}

.myMeets-body-content::-webkit-scrollbar {
    display: none;
}

.myMeets-body-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Upcoming meets */

.upcoming-meet-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.upcoming-meet-content .upcoming-meet-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(98, 167, 223, 0.393);
    align-items: stretch;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 10px 30px;
    background-color: var(--primary-color); /* Adjusted background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.upcoming-meet-content .upcoming-meet-card .details-controls {
    display: flex;
    justify-content: space-between;
}

.upcoming-meet-card .meet-card-details {
    display: flex;
    gap: 30px;
}

.upcoming-meet-card .meet-card-details p {
    padding: 0;
    margin: 0;
    color: var(--text-primary);
    font-weight: 500;
}

.upcoming-meet-card .meet-card-details p span {
    padding: 0;
    margin: 0;
    color: var(--text-secondary);
    font-weight: 400;
}

.upcoming-meet-card .meet-card-controls {
    display: flex;
    gap: 5px;
}

.upcoming-meet-card .meet-card-controls button {
    border: none;
    margin: 0;
    padding: 5px 10px;
    border-radius: 0.5rem;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 0.7rem;
}

.upcoming-meet-card .meet-card-controls .joinBtn {
    background-color: var(--accent-color);
}

.upcoming-meet-card .meet-card-controls .editBtn {
    background-color: var(--secondary-color);
}

.upcoming-meet-card .meet-card-controls .deleteBtn {
    background-color: rgb(193, 10, 10);
}

.upcoming-meet-card .meet-card-timings {
    display: flex;
    flex-direction: column;
}

.upcoming-meet-card .meet-card-timings h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--text-primary);
}

.upcoming-meet-card .meet-card-timings .meet-card-timings-details {
    display: flex;
    gap: 30px;
}

.upcoming-meet-card .meet-card-timings .meet-card-timings-details p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--text-primary);
}

.upcoming-meet-card .meet-card-timings .meet-card-timings-details p span {
    margin: 0;
    color: var(--text-secondary);
}

/* Past meets */

.past-meet-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.past-meet-content::-webkit-scrollbar {
    display: none;
}

.past-meet-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.past-meet-content .past-meet-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgba(98, 167, 223, 0.393);
    align-items: stretch;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 10px 30px;
    background-color: var(--primary-color); /* Adjusted background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.past-meet-content .past-meet-card .details-controls {
    display: flex;
    justify-content: space-between;
}

.past-meet-card .meet-card-details {
    display: flex;
    gap: 30px;
}

.past-meet-card .meet-card-details p {
    padding: 0;
    margin: 0;
    color: var(--text-primary);
    font-weight: 500;
}

.past-meet-card .meet-card-details p span {
    padding: 0;
    margin: 0;
    color: var(--text-secondary);
    font-weight: 400;
}

.past-meet-card .meet-card-controls {
    display: flex;
    gap: 5px;
}

.past-meet-card .meet-card-controls button {
    border: none;
    margin: 0;
    padding: 5px 20px;
    border-radius: 0.5rem;
    font-weight: 500;
    color: var(--text-primary);
}

.past-meet-card .meet-card-timings {
    display: flex;
    flex-direction: column;
}

.past-meet-card .meet-card-timings h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--text-primary);
}

.past-meet-card .meet-card-timings .meet-card-timings-details {
    display: flex;
    gap: 30px;
}

.past-meet-card .meet-card-timings .meet-card-timings-details p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--text-primary);
}

.past-meet-card .meet-card-timings .meet-card-timings-details p span {
    margin: 0;
    color: var(--text-secondary);
}
