:root {
  --primary-color: #005f73;
  --secondary-color: #0a9396;
  --accent-color: #94d2bd;
  --text-primary: #e9d8a6;
  --text-secondary: #ee9b00;
}

.profilePage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--primary-color), var(--secondary-color)), url(../images/new-background.jpg);
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--text-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

.profile-header {
    width: 100%;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.profile-header .profile-logo h2 {
    color: var(--text-primary);
    font-size: 2.2rem;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: bold;
    cursor: pointer;
}

.profile-header #dropdown-basic {
    border: 1px solid var(--text-secondary);
    padding: 3px 20px;
    border-radius: 0.6rem;
    background-color: var(--accent-color);
    color: white;
    font-weight: 500;
    outline: none;
}

.profile-header .dropdown-options {
    text-decoration: none;
    color: var(--text-primary);
}

.profile-header .dropdown-options:hover {
    text-decoration: none;
    color: var(--text-secondary);
}

.profile-body {
    margin-top: 30px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
}

.profile-body .profile-card-container {
    width: 25%;
}

.profile-body .meet-data-container {
    width: 65%;
}
